body{
    background-color: #1a1a1a;
    margin:0;
}

h1{
    display:block;
    text-align:center;
    color: #ffffff;
}

#image{
    max-width:100%;
    max-height:150px;
    display:block;
    
}

#img-div{
    display:flex;
    justify-content: center;
}

.text-div{
    padding:0 1rem;
    color:#ffffff;
}

#caption0{
    display: flex;
    justify-content: center;
    padding: 5px auto;
    color:#ffffff;
    font-size: 9px;
}

.text-div .img-div h1{
    background-color: #4e4e4e;
}